# MyST build outputs
_build
.DS_Store
.ipynb_checkpoints
exports
__pycache__
*.pyc
*.egg-info
build
tmp.txt
# LaTeX auxiliary files
*.aux
*.fdb_latexmk
*.synctex.gz
*.fls
*.log
*.bbl
*.blg
*.pdf
node_modules
package-lock.json
package.json
